<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div>
    <ul id="links">
      <li>
        <a href="/">Calendar</a>
      </li>
      <li>
        <a href="/reminder">Create a Reminder</a>
      </li>
    </ul>
  </div>
    {{{body}}}
  </body>
</html>
